<div class="container mt-5">
  <h2>List of Projects</h2>
  <table class="table">
    <thead>
      <th>Id</th>
      <th>Project_name</th>
      <th>Start_date</th>
      <th>Planned_end_date</th>
      <th>Description</th>
      <th>Project_code</th>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td>{{ project.id }}</td>
        <td>{{ project.project_name }}</td>
        <td>{{ project.start_date }}</td>
        <td>{{ project.planned_end_date }}</td>
        <td>{{ project.description }}</td>
        <td>{{ project.project_code }}</td>
      </tr>
    </tbody>
  </table>
</div>
